.container{
    background-color: hsl(230, 17%, 14%);
    width: 103%;
    /* min-height: 5vh; */
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    align-items: center;
    color: aliceblue;
}
.container_overview{
    background-color: hsl(230, 17%, 14%);
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: start;
    padding: 20px;
    /* align-items: center; */
    color: aliceblue;
}
.darkmode{
    /* justify-content: end; */
    background-color: hsl(230, 17%, 14%);
    width: 100%;
    padding: 5% 0%;
    text-align: center;
    padding: 20px;
    /* align-items: end; */
}
body{
    font-family: sans-serif;
    height: 3vh;
}
.box{
    width:20%;
    height:200px;
    background-color:hsl(228, 28%, 20%);
    margin: 75px 25px 75px;
    /* margin-left: 75px;
    margin-right: 75px; */
    border-style: hidden;
    text-align: center;
    padding: 15px;
    /* border-top: 15px; */   
}
.overview{
    align-items: flex-start;
    padding: 0px;
    margin-left: 0px;
}
span,p{
    color: hsl(228, 34%, 66%);
}
h4{
    color: green;
}
.box_box{
    width:300px;
    height:150px;
    background-color:hsl(228, 28%, 20%);
    border-style: hidden;
    text-align: center;
    display: flex;
    /* row-gap: 500px; */
    column-gap: 130px;
    margin-right: 60px;
    margin-top: 50px;
    margin: 100px 30px 100px;
    /* display: grid; */

}
h1{
    font-size:xx-large;
}
#box1{
box-shadow:0px -5px 0px  hsl(208, 92%, 53%) ;

}
#box2{
    box-shadow: 0px -5px 0px hsl(203, 89%, 53%);
}
#box3{
   box-shadow:0px -5px 0px lin;
}
#box4{
    box-shadow:0px -5px 0px hsl(348, 97%, 39%);
}
.dropdown{
    color: hsl(348, 97%, 39%);
}

.inside_flex1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.inside_flex2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

} 
.toggle{
    display: flex;
}
@media only screen and (max-width: 900px) {
    /* .top_container{

        flex-direction: column;

    } */
    /* @media (max-width: 800px) { */
        .container {
          flex-direction: column;
        }
        .toggle{
            flex-direction: column;   
        }
        .container_overview{
            width: 96%;
        }
        .darkmode{
            width: 91%;
            text-align: left;
            padding: 41px;
        }
        .box{
            padding: 51px 136px;
        }
      /* } */
}


